<nav class="navbar">
  <ul class="nav-links">
    <li><a href="/" class="<%= (activePage === 'list') ? 'active' : '' %>">Task List</a></li>
    <li><a href="/add" class="<%= (activePage === 'add') ? 'active' : '' %>">Add Task</a></li>
  </ul>
</nav>
<hr>

